// @import 'core/variables';
@import 'core/reset';
@import 'core/variables';
@import 'core/modal';


.main{
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{
    font-family: $font-main;
    margin: 40px;
    margin-bottom: 0px;
    color: orangered;
  }

  &__subtitle{
    font-family: $font-main;
    color: rgba(56, 56, 56, 0.644);
    font-size: 14px;
    text-align: right;
    width: 300px;
    margin-bottom: 20px;
  }
}



.form {
  &__btn{
    font-family: $font-main;
    font-size: 14px;
    width: fit-content;
    padding: 3.5px 4.5px;
    margin: 5px;
    background-color: rgba(255, 68, 0, 0.063);
    border: 1.5px solid orangered;
    border-radius: 5px;
  }

  &__input{
    margin-right: 35px;
    height: 25px;
    background-color: rgba(255, 68, 0, 0.063);
    border: 1.5px solid orangered;
    border-radius: 5px;
    font-family: $font-main;
    font-size: 14px;
    padding-left: 10px;
  }
}



.theX{
  transform: translateY(1px);

}

.delete {
  &__icon {
    font-family: $font-main;
    width: 18px;
    color: orangered;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(252, 218, 155);
    border: 1.25px solid  orangered;
    border-radius: 50px;
    transform: translate(50px,10px);
  }
}

.subtitle{
  width: 155px;
  text-align: center;
}

.sections {

  display: flex;
  gap: 20px;
  font-family: $font-main;
  margin-top: 10px;
}

.drink_title{
  font-family: $font-main;
  padding: 2px;
  color: rgb(56, 56, 56);
}

.drink_image{
  width: 100px;
  border-radius: 10px;
}

.drink_li{
  list-style-type: none;
}

.drink_article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  width: 17ch;
  text-align: center;

}

.special{
  margin-top: 19px;
  padding-top: 4px;

}

.js_drink_search_item:hover, .delete__div:hover, .delete__icon:hover
{
  cursor: pointer;
}


.fav_drink{
  color: orangered;
  width: 17ch;
  background-color: rgb(252, 218, 155);
  outline: 2px solid orangered;
  border-radius: 10px;
  text-align: center;
}


.hidden {
  display: none;
}
